/* GALERIA */
body {
    font-size: 10px;
}

.mainphotoG {
    height: 43vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-transform: uppercase;
}

.mainphotoG .slogan {
    justify-content: space-around;
    z-index: 2;
    height: 20vh;
}

.mainphotoG h2 {
    font-size: .9rem;
}

.mainphotoG .galleryMenu {
    width: 100%;
    height: 8vh;
    margin-top: 2vh;
    text-align: center;
    background-color: #303030;
    z-index: 2;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 4%;
}

.mainphotoG .galleryMenu a {
    color: #fff;
    text-decoration: none;
}

.mainphotoG .galleryMenu a h2 {
    font-weight: 400;
}

.mainphotoG .imgbg {
    display: block;
    opacity: .8;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.gallery {
    width: 100%;
    max-width: 1400px;
    padding: 0 4%;
    margin: 0 auto 3vh auto;
}

.my-gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.my-gallery figure {
    width: 46%;
    overflow: hidden;
    margin-top: 2vh;
    display: block;
    position: relative;
    background-color: black;
}

/* .my-gallery figure::before{
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
} */

.my-gallery figure a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s;
}

.my-gallery figure:hover img {
    opacity: .5;
    transform: scale(1.1);
}

.my-gallery figure:hover .zoomIcon {
    opacity: 1;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}

.zoomIcon {
    opacity: 0;
    color: white;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: .2s;
}

.my-gallery figure a img:hover .zoom {
    display: block;
}