@media (min-width: 380px) {
  /* NAV */
  .topnav ul > li > a {
    font-size: 1rem;
  }

  /* SLOGAN */
  .slogan {
    justify-content: space-around;
  }

  .slogan h1 {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 10px 18px;
  }

  .slogan h2 {
    font-size: 1.2rem;
    font-weight: 800;
  }

  /* CZYM SIE ZAJMUJEMY*/
  .sectionAbout .text-panel > h2 {
    font-size: 1.5rem;
  }

  .sectionAbout .about {
    padding: 0rem 0.5rem;
  }

  footer {
    height: 30vh;
  }

  /* SUBPAGE ONAS */
  .textcase > h2 > p {
    font-size: 1.5rem;
  }

  /* kontakt */
  .data > h3 {
    font-size: 1rem;
  }
  /* GALLERY */
  .mainphotoG .galleryMenu a h2 {
    font-size: 1.2rem;
  }

}

@media (min-width: 480px) {
  /* NAV */
  .topnav ul > li > a {
    font-size: 1.2rem;
  }

  /* SLOGAN */
  .slogan {
    justify-content: space-around;
  }

  .slogan h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 12px 20px;
  }

  /* CZYM SIE ZAJMUJEMY*/
  .sectionAbout .text-panel > h3 {
    max-width: 500px;
  }

  .sectionAbout .text-panel > h2 {
    margin-top: 1rem;
  }

  .sectionAbout .about {
    padding: 0rem 1rem;
  }

  .sectionAbout img {
    max-width: 500px;
    padding: 0px;
  }

  /* stopka */
  footer {
    height: 25vh;
  }

  .f-wrapper > a > p {
    font-size: 1.2rem;
  }

  .f-wrapper > a {
    width: 20%;
    min-width: 300px;
  }

  /* SUBPAGE ONAS */
  .case {
    align-items: center;
  }

  .caserow1 {
    align-items: center;
  }

  .caserow2 {
    align-items: center;
  }

  .caserow1 > img {
    width: 100%;
    max-width: 550px;
  }

  .caserow1 > .textcase > h3 {
    max-width: 550px;
  }

  .caserow2 {
    max-width: 550px;
  }

  /* kontakt */
  .data {
    max-width: 300px;
  }

  .field {
    max-width: 450px;
  }

  #check {
    max-width: 450px;
  }

  .contact-box > a {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  /* NAV */
  .topnav ul > li > a {
    font-size: 1.4rem;
  }

  /* SLOGAN */
  .slogan {
    justify-content: space-around;
    height: 22vh;
  }

  .slogan h1 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 16px 24px;
  }

  /* CZYM SIE ZAJMUJEMY*/

  .sectionAbout {
    min-height: 300px;
    /* height: 40vh; */
  }

  .sectionAbout .about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sectionAbout img {
    min-width: none;
    max-width: none;
    width: 50%;
    max-width: 410px;
    height: auto;
  }

  .sectionAbout .text-panel {
    width: 50%;
  }

  .sectionAbout .text-panel > h3 {
    max-width: max-content;
    width: 90%;
    padding: 0.5rem;
  }

  .sectionAbout .text-panel > h2 {
    margin-top: 0;
    font-size: 1.3rem;
  }

  .link-button a {
    font-size: 1rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
  }

  /* SWIPER GALLERY */
  .sectionGallery {
    height: 55vh;
  }

  /* stopka */

  footer {
    height: 20vh;
    min-height: 160px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: center;
  }

  .f-rec {
    margin: 0 0;
    width: 100%;
    height: 96px;
    align-items: flex-start;
  }

  .f-wrapper > a {
    min-width: 230px;
    flex-direction: column;
  }

  .f-wrapper > a > p {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    font-size: 1.1rem;
  }

  /* SUBPAGE GALERIA */
  .mainphotoG .slogan h2 {
    font-size: 1.8rem;
  }

  /* SUBPAGE ONAS */
  .case {
    flex-direction: row;
  }

  .caserow1 {
    width: 55%;
  }

  .caserow2 {
    width: 45%;
    min-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .caserow1 > img {
    display: none;
  }

  .caserow2 > img {
    display: flex;
    width: 100%;
    padding: 0rem 0.5rem;
  }

  .line {
    height: 3px;
  }

  /* KONTAKT */
  .formsection{
    flex-direction: row;
    align-items: flex-start;
  }

  .datacontainer{
    padding: 1rem;
  }

  .datacontainer > h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .contact-box > h2{
    font-size: 1.5rem;
  }

  .data{
    padding-bottom: 1.5rem;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 0;
    height: 8vh;
  }

  header.sticky {
    height: 6vh;
  }

  .header-wrap {
    max-width: 1400px;
    margin: 0 auto;
  }

  .hamburger {
    display: none;
  }

  .logo {
    max-width: 30%;
    max-height: 80%;
  }

  .logo__link {
  }

  .topnav {
    max-width: 65%;
    position: relative;
    transform: translateX(0);
    top: 0;
    height: 100%;
    box-shadow: none;
  }

  header.sticky .topnav {
    top: 0;
    height: 100%;
  }

  /* NAV */
  .topnav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-around;
    line-height: auto;
  }

  .topnav ul > li {
    line-height: normal;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
  }

  .topnav ul li a {
    font-size: 1.2rem;
    white-space: nowrap;
    display: block;
    padding: 10px 15px;
  }

  .topnav ul > li > i {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  /* underline */

  .topnav ul li a::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #585858;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-105%);
    transition: 0.2s ease-in-out;
  }

  .topnav ul li:last-child a::after {
    display: none;
  }

  .topnav ul li a:hover::after {
    transform: translateX(0);
  }

  /* SLOGAN */
  .slogan {
    justify-content: space-around;
    height: 24vh;
  }

  .slogan h1 {
    font-size: 2.3rem;
    line-height: 2.7rem;
    padding: 18px 26px;
  }

  /* CZYM SIE ZAJMUJEMY*/
  .sectionAbout .about {
    max-width: 1400px;
  }

  .sectionAbout .text-panel > h2 {
    font-size: 1.5rem;
    padding: 1vh 0vh 1vh 0vh;
  }

  .sectionAbout .text-panel > h3 {
    width: 50%;
    min-width: 470px;
    font-size: 1.1rem;
    padding: 1vh 0vh 1vh 0vh;
  }

  .link-button {
    padding: 2vh 0vh 2vh 0vh;
  }

  .link-button a {
    font-size: 1.1rem;
    padding: 0.7em 1.2rem 0.7rem 1.2rem;
  }

  .sectionAbout img {
    max-height: 50vh;
    min-height: 350px;
    max-width: none;
    max-width: 550px;
    width: 50%;
    height: auto;
  }

  .sectionAbout .text-panel {
    max-height: 50vh;
    height: 100%;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  /* stopka */
  footer {
    height: 15vh;
    min-height: 120px;
  }

  .f-rec {
    height: 116px;
  }

  .f-wrapper > a > p {
    height: 58px;
    font-size: 1.3rem;
  }

  /* SUBPAGE GALLERY */
  .gallery {
    padding: 0 2%;
  }

  .my-gallery figure {
    width: 31%;
  }

  .mainphotoG .slogan h2 {
    font-size: 2rem;
  }

  /* SUBPAGE O-NAS */

  .textcase {
    align-items: center;
  }

  .textcase > h2 > p {
    font-size: 1.5rem;
  }

  .caserow1 > .textcase > h3 {
    font-size: 1.1rem;
  }

  /* KONTAKT */
  .formsection{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .data{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .field{
    height: 40px;
    font-size: 1rem;
    max-width: none;
  }

  textarea{
    height: 120px !important;
  }

  #check
  {
    max-width: none;
  }
  #check > a{
    font-size: 0.9rem;
  }

  .contact-box > a {
    max-width: none;
    font-size: 0.9rem;
  }

  #btn> button {
    padding: 2vh 0vh 2vh 0vh;
  }

  #btn> button > a {
    font-size: 1.1rem;
    padding: 0.7em 1.2rem 0.7rem 1.2rem;
  }

  .mainphotoG .galleryMenu a h2 {
    font-size: 2rem;
  }

  .mainphotoG .galleryMenu a::before{
    height: 5px;
  }
}

@media (min-width: 1200px) {
  /* SUBPAGE GALLERY */
  .my-gallery figure {
    width: 18%;
  }
}

/* LANDSCAPE */

@media (min-width: 1024px) and (max-height: 1000px) {
  /* HEADER */
  header {
    padding: 0;
    height: 10vh;
  }

  header.sticky {
    height: 8vh;
  }

  /* NAV */
  .topnav ul li a {
    font-size: 1rem;
  }

  /* SLOGAN */
  .slogan {
    height: 28vh;
  }

  .slogan h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 18px 26px;
  }

  /* GALLERY */
  .sectionGallery {
    height: 70vh;
  }

  /* FOOTER */
  footer {
    height: 22vh;
  }
}
