@font-face {
  font-family: 'stoneteamx2';
  src: url('../font/stoneteamx2.eot?69991999');
  src: url('../font/stoneteamx2.eot?69991999#iefix') format('embedded-opentype'),
       url('../font/stoneteamx2.woff2?69991999') format('woff2'),
       url('../font/stoneteamx2.woff?69991999') format('woff'),
       url('../font/stoneteamx2.ttf?69991999') format('truetype'),
       url('../font/stoneteamx2.svg?69991999#stoneteamx2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stoneteamx2';
    src: url('../font/stoneteamx2.svg?69991999#stoneteamx2') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "stoneteamx2";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\f50d'; } /* '' */

.icon-down-open-big:before {
  content: '\e802';
  font-size: 2.2rem;
}

/* '' */
.icon-facebook:before {
  content: '\f09a';
  font-size: 1.1rem;
  padding: 0px;
  margin: 0px;
}

/* '' */


.icon-phone:before {
  content: '\e800';
  font-size: 2.0rem;
  background-color: #707070;
  color: white;
  padding: 0.5rem;
  border-radius: 1em;
  margin: 0;
}

/* '' */
.icon-location:before {
  content: '\e801';
  font-size: 2.1rem;
  background-color: #707070;
  color: white;
  padding: 0.451rem;
  border-radius: 1em;
  margin: 0;
}

/* '' */
.icon-mail-alt:before {
  content: '\f0e0';
  font-size: 1.7rem;
  background-color: #707070;
  color: white;
  padding: 0.651rem;
  border-radius: 1em;
  margin: 0;
}

/* '' */
@media (min-width: 380px) {
  .icon-facebook:before {
    font-size: 1.4rem;
  }

  .icon-down-open-big:before {
    font-size: 2.8rem;
  }
}

@media (min-width: 480px) {
  .icon-facebook:before {
    font-size: 1.8rem;
  }

  .icon-down-open-big:before {
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) {
  .icon-facebook:before {
    font-size: 2.2rem;
  }

  .icon-down-open-big:before {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .icon-phone:before {
    content: '\e800';
    font-size: 2.5rem;
    background-color: #707070;
    color: white;
    padding: 0.5634rem;
    border-radius: 1em;
    margin: 0;
  }

  /* '' */
  .icon-location:before {
    content: '\e801';
    font-size: 2.6rem;
    background-color: #707070;
    color: white;
    padding: 0.5136rem;
    border-radius: 1em;
    margin: 0;
  }

  /* '' */
  .icon-mail-alt:before {
    content: '\f0e0';
    font-size: 2.2rem;
    background-color: #707070;
    color: white;
    padding: 0.713rem;
    border-radius: 1em;
    margin: 0;
  }

  /* '' */
}

@media (min-width: 1024px) and (max-height: 1000px) {
  .icon-facebook:before {
    font-size: 1.4rem;
  }
}