* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  background-color: #fff;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 12vh;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
  padding: 0 5%;
  transition: 0.7s;
  font-family: "Montserrat", sans-serif;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

header.sticky {
  height: 10vh;
}

.logo {
  background-image: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80%;
  width: 60%;
}

.logo__link {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto 0;
}

/* BURGER */

.hamburger {
  padding: 0 10px;
  height: 100%;
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  transition: transform .3s .1s ease-in-out;
}

.hamburger__box {
  width: 8vh;
  height: 8vh;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: .4vh;
  background-color: #171717;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s ease-in-out, transform .7s;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: .4vh;
  background-color: #171717;
  position: absolute;
  content: '';
  left: 0;
  transition: transform .2s ease-in-out;
}

.hamburger__inner::before {
  top: -2vh;
}

.hamburger__inner::after {
  top: 2vh;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(2vh) rotate(-45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(-2vh) rotate(45deg);
}

/* scale hamburger in logo */
header.sticky .hamburger__inner {
  transform: scale(.9);
}

/* NAV */

.topnav {
  display: block;
  position: absolute;
  top: 12vh;
  left: 0;
  height: 50vh;
  background-color: #FFF;
  width: 100%;
  transform: translateX(100vw);
  transition: transform .3s ease-in-out;
  box-shadow: 0 10px 10px -10px rgba(66, 68, 90, 1);
  overflow: hidden;
}

.topnav.active {
  transform: translateY(0);
}

header.sticky .topnav {
  top: 10vh;
}

.topnav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 10vh;
}

.topnav ul>li {
  list-style: none;
}

.topnav ul>li>a {
  position: relative;
  display: block;
  font-size: 1rem;
  overflow: hidden;
}

.topnav ul>li>a:link {
  text-decoration: none;
  color: rgb(42, 42, 42);
}

.topnav ul>li>a:visited {
  text-decoration: none;
  color: rgb(42, 42, 42);
}

.topnav ul>li>a:hover {
  color: #585858;
}

.topnav ul>li>a:active {}

/* fb */

.topnav ul>li>i:link {
  text-decoration: none;
}

.topnav ul>li>i:visited {
  text-decoration: none;
  color: rgb(42, 42, 42);
}

.topnav ul>li>i:hover {

  color: #585858;
  cursor: pointer;
}

.topnav ul>li>i:active {
  text-decoration: underline;
}

/* MAIN */

main>section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 100vh;
}

main>section>h2 {
  font-size: 40px;
  background-color: #eee;
  opacity: 80%;
  text-align: center;
  padding: 8px 24px;
  border-radius: 16px;
}

section:nth-child(1) {
  position: relative;
  height: 100vh;
  width: 100%;
}

.bgFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("img/slide.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

section:nth-child(1) h1 {
  position: absolute;
}

/* CZYM SIE ZAJMUJEMY*/

section:nth-child(2) {
  height: 83vh;
  background-color: white;
  padding-bottom: 3vh;
}

section:nth-child(2) .about {
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-child(2) img {
  width: 100%;
  max-width: 350px;
  padding: 0.75rem 0rem 0.75rem 0rem;
  display: flex;
}

section:nth-child(2) .text-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-child(2) .text-panel>h2 {
  display: flex;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

section:nth-child(2) .text-panel>h3 {
  display: flex;
  max-width: 350px;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: justify;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

section:nth-child(2) .link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0rem 0.75rem 0rem;
}

section:nth-child(2) .link-button a {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2em;
  justify-content: center;
  background-color: #585858;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

section:nth-child(2)>.about>.text-panel>.link-button>a:hover {
  text-decoration: none;
  background-color: #707070;
  transform: scale(0.95);
  transition: ease-in-out;
}

section:nth-child(2)>.about>.text-panel>.link-button>a:active {
  text-decoration: none;
}

.section:nth-child(2)>.about>.text-panel>.link-button>a:visited {
  text-decoration: none;
}

section:nth-child(3) {
  height: 53vh;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3vh;
  background-color: #fff;
}

/* SWIPER */

ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Swiper container */
.swiper {
  width: 100%;
  height: 100%;
}

/* swiper responive image */
.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-slide {
  height: 90%;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  height: 10%;
  line-height: 10%;
}

/* MAP */

section:nth-child(4) {
  height: 60vh;
  width: 100%;
}

section:nth-child(4) iframe {
  width: 100%;
  height: 100%;
}

footer {
  height: 30vh;
  background-color: white;
  background-size: cover;
}