@media (min-width: 380px) {
  /* CZYM SIE ZAJMUJEMY*/
  section:nth-child(2) {
    height: 70vh;
  }

  section:nth-child(2) .text-panel > h3 {
    font-size: 1rem;
  }

  section:nth-child(2) .text-panel > h2 {
    font-size: 1.5rem;
  }

  section:nth-child(2) .about {
    padding: 2.5rem 0.5rem;
  }
}

@media (min-width: 480px) {
  /* CZYM SIE ZAJMUJEMY*/
  section:nth-child(2) {
    height: 60vh;
  } 
  section:nth-child(2) .text-panel > h3 {
    max-width: max-content;
    width: 85%;
    max-width: 510px;
  }

  section:nth-child(2) .about {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  section:nth-child(2) img {
    min-width: 380px;
    max-width: none;
    max-width: 420px;
    padding: 0px;
  }
}

@media (min-width: 768px) {
  /* CZYM SIE ZAJMUJEMY*/

  section:nth-child(2) {
    min-height: 300px;
    height: 40vh;
  }

  section:nth-child(2) .about {
    flex-direction: row;
  }

  section:nth-child(2) img {
    min-width: none;
    width: 50%;
    max-width: none;
  }

  section:nth-child(2) .text-panel {
    width: 50%;
  }

  section:nth-child(2) .text-panel > h3 {
    max-width: max-content;
    width: 90%;
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }

  section:nth-child(2) .text-panel > h2 {
    font-size: 1.5rem;
    padding: 0.75rem 0rem 0rem 0rem;
  }

  section:nth-child(2) .link-button a {
    font-size: 1rem;
    padding: 0.7em 1rem 0.7rem 1rem;
  }
}

@media (min-width: 1024px) {
  header {
    height: 8vh;
  }

  header.sticky {
    height: 6vh;
  }

  .header-wrap {
    max-width: 1400px;
    margin: 0 auto;
  }

  .hamburger {
    display: none;
  }

  .logo {
    max-width: 30%;
    max-height: 80%;
  }

  .logo__link {
  }

  .topnav {
    max-width: 60%;
    position: relative;
    transform: translateX(0);
    top: 0;
    height: 100%;
    box-shadow: none;
  }

  header.sticky .topnav {
    top: 0;
    height: 100%;
  }

  .topnav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
  }

  .topnav ul > li {
    line-height: normal;
  }

  .topnav ul li a {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding: 18px 10px;
  }

  header.sticky .topnav ul li a {
    padding: 12px 10px;
  }

  .topnav ul > li > i {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  /* underline */

  .topnav ul > li > a::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #585858;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-110%);
    transition: 0.2s ease-in-out;
  }

  .topnav ul > li > a:hover::after {
    transform: translateX(0);
  }

  /* underlineEnd */

  .topnav ul > li > i:active {
  }

  .topnav ul > li > a:active {
  }

  .topnav ul > li > a:hover {
  }

  .topnav ul > li > i:hover {
  }

  section:nth-child(2) {
    height: 53vh;
  }
  section:nth-child(2) .about {
    max-width: 1400px;
  }

  section:nth-child(2) .text-panel > h2 {
    font-size: 2rem;
    padding: 1rem;
  }
  section:nth-child(2) .text-panel > h3 {
    width: 75%;
    min-width: 470px;
    font-size: 1.3rem;
    padding: 1rem;
  }

  section:nth-child(2) .link-button a {
    font-size: 1.1rem;
    padding: 0.7em 1.2rem 0.7rem 1.2rem;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
}
